* {
    padding: 0;
    margin: 0;
}

.nav-link:hover {
    color: yellow !important;
    transition: ease-in .3s;
}

.login {
    margin-left: 105vh !important;
}

.atas {
    background-image: url('img/atas.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -35vh;
    overflow: hidden;
    position: relative;
}

.atas h1 {
    position: relative;
    top: 25vh;
    font-size: 15vh;
    text-align: center;
}

.atas p {
    position: relative;
    top: 25vh;
    font-size: 3vh;
    text-align: center;
}

.atas .kotak {
    width: 60%;
    height: 20%;
    position: relative;
    top: 30vh;
    left: 20%;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: .3vh;
    overflow: hidden;
}

.lets {
    background-color: #F4B101;
    padding-top: 2.5%;
    border-radius: .5vh 0 0 .5vh;
}

.lets:hover {
    background-color: #BA9000;
}

.kotak2 {
    height: 10vh;
}

.desc {
    width: 60%;
    height: 20%;
    position: relative;
    top: 30vh;
    left: 20%;
    border-radius: .3vh;
    /* overflow: hidden; */
}

.garis {
    position: relative;
    border: 1px solid whitesmoke;
    top: 28vh;
    width: 60%;
    left: 20%;
}

.desc span[class="kuning"]:hover {
    color: #F4B101;
    transition: ease-in .5s;
}

.g1, .g2, .g3, .g4{
    height: 30vh;
    border: .2vh solid whitesmoke;
}

.g1{
    background-image: url('img/bromo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.g2{
    background-image: url('img/nusalembongan.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.g3{
    background-image: url('img/bromo2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.g4{
    background-image: url('img/ijen.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*SCROLLBAR CUSTOM*/
::-webkit-scrollbar {
    width: 0;
}

/* Cursor */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink{
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
/* 
#typed{
    display: inline;
    border: 1px solid rebeccapurple;
} */